<section class="vision" id="vision-section">
  <div class="vision__content">
    <h6 class="vision__subtitle">
      {{ translation.translate('vision_subtitle') }}
    </h6>

    <h2 class="vision__title">
      {{ translation.translate('vision_title') }}
    </h2>

    <p class="vision__description">
      {{ translation.translate('vision_description') }}
    </p>

    <div class="vision__team">
      <div class="vision__member">
        <img src="../../../../../assets/images/sheikh-saud-al-qasimi.jpg" alt="Shk. Saud Al Qasimi" class="vision__image" />
        <div class="vision__member-info">
          <h4 class="vision__member-name">
            {{ translation.translate('member_1_name') }}
          </h4>
          <p class="vision__member-position">
            {{ translation.translate('member_1_position') }}
          </p>
        </div>
      </div>

      <div class="vision__member">
        <img src="../../../../../assets/images/eng-lamia-al-shamsi.png" alt="Eng. Lamia Al Shamsi" class="vision__image" />
        <div class="vision__member-info">
          <h4 class="vision__member-name">
            {{ translation.translate('member_2_name') }}
          </h4>
          <p class="vision__member-position">
            {{ translation.translate('member_2_position') }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="vision__highlight">
    <p class="vision__label">{{ translation.translate('vision_highlight_label') }}</p>
    <video autoplay muted loop class="vision__video">
      <source src="assets/images/intro-video.mp4" type="video/mp4" />
    </video>
    <span class="vision__text">190</span>
    <p class="vision__departments">{{ translation.translate('vision_departments') }}</p>
  </div>
</section>